<h2>Nested selectors</h2>
<hr />

<form>
  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continent:</label>
      <select formControlName="region" class="form-control">
        <option value="">-- Select Continent --</option>

        <!-- <option [value]="region">
          {{ region }}
        </option> -->

      </select>
    </div>
  </div>

  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Country:</label>
      <select formControlName="country" class="form-control">
        <option value="">-- Select Country --</option>

        <!-- <option [value]="country.cca3">
          {{ country.name }}
        </option> -->

      </select>
    </div>
  </div>


  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Borders:</label>
      <select formControlName="border" class="form-control">
        <option value="">-- Select Border --</option>

        <!-- <option [value]="country.cca3">
          {{ country.name }}
        </option> -->
      </select>
    </div>
  </div>

</form>

<h3>Form</h3>
<code>
  <!-- {{ 'myForm.value' | json }} -->
</code>
<p>is form valid: {{ 'myForm.valid' }}</p>
